{% block content %}
{% include "head.html" %}
{% include "header.html" %}

<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>About Us</h4>
            <h2>More about us!</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Banner Ends Here -->

<section class="about-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <img src="{{ url_for('static', filename='images/about-us.jpg') }}" alt="About Us Image">
        <p>Explore our website and learn more about our mission and values. Share with your friends!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h4>Our Mission</h4>
        <p>We aim to deliver quality content with informative and engaging posts for our readers.</p>
      </div>
      <div class="col-lg-6">
        <h4>Our Vision</h4>
        <p>Creating a blog community where knowledge is shared and ideas are celebrated.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h4>Feature 1</h4>
        <p>Insightful and well-researched blog posts to keep you informed.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4>Feature 2</h4>
        <p>User-friendly interface with easy navigation across topics.</p>
      </div>
      <div class="col-lg-4">
        <h4>Feature 3</h4>
        <p>Interactive community encouraging discussions and feedback.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>

{% include "footer.html" %}
{% endblock %}