<!DOCTYPE html>
<html lang="en">

    {% include "head.html" %}

  <body>

  {% include "Preloader.html" %} 

    <!-- Header -->
 {% include "header.html" %}

 
    <!-- Page Content -->


    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Post Details</h4>
                <h2>Single blog post</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
{% if current_user.id == 1: %}
<section class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main-content">
              <div class="row">
                <div class="col-lg-8">
                  <span>Hossein's Blog</span>
                  <h4>Edit blog post!</h4>
                </div>
                <div class="col-lg-4">
                  <div class="main-button">
                    <a rel="nofollow" href="{{url_for('edit_post',id=post.id)}}" target="_parent">Edit Now!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ post.image_url }}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ post.title }}</span>
                      <a href="#"><h4>{{ post.subtitle }}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">#</a></li>
                        <li><a href="#">{{ post.date }}</a></li>
                        <li><a href="#"># Comments</a></li>
                      </ul>
                      <p>{{ post.body }}</p>
                        <div class="post-options">
                        <div class="row">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-post comments"> 
                    <div class="sidebar-heading">
                      <h2>comments</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li>
                          {% for comment in comments: %}
                          <div class="author-thumb">
                            {% if current_user.is_authenticated: %}
                            <img src="{{ gravatar_url(current_user.email,size=50) }}" alt="User Avatar" class="rounded-circle">
                            {% else: %}
                            <span>User Avatar</span>
                            {% endif %}
                          </div>
                          <div class="right-content">
                            <h4>{{comment.author.name}}<span>{{comment.date}}</span></h4>
                            <p>{{ comment.body }}</p>
                          </div>
                          {% endfor %}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-post submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your comment</h2>
                    </div>
                    <div class="content">
                      <form id="comment" action="#" method="post">
                        <div class="row">
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Submit</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% include "navbar.html" %}
        </div>
      </div>
    </section>

    
{% include "footer.html" %}

    {% include "script.html" %}


  </body>

</html>
